// .pages {
//     // &__create-btn {
//     //     margin-top: 1rem;
//     // }

//     a {
//         display: flex;
//         justify-content: space-between;
//     }

//     &__item {
//         display: flex;
//         justify-content: space-between;
//         padding: 1.5rem !important;
//     }

//     // a:hover {
//     //     background-color: #ccc;
//     // }

//     &__item-row {
//         text-align: left;
//         width: 30%;
//     }

//     &__item-row--id {
//         width: 3%;
//     }

//     &__item-row--action {
//         width: 1%;
//     }
// }

.pages-content {
    
    .dropdown--light__toggle {
        padding: 1rem;
    }
    
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 2rem !important;
    }

    &__item-row {
        width: 30%;
    }

    &__item-info {
        display: flex;
        justify-content: space-between;
        width: 99%;
    }

    &__item-dropdown {
        width: 1%;
        margin-left: 1rem;
    }
}