@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: none;
}

body {
  background-color: #EDEDED;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
  font-weight: 100;
}

button:hover {
  color: lightgray;
  cursor: pointer;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border: 2px solid lightgray;
}

button {
  background-color: unset;
  border: none;
}

.btn-ellipsis {
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
}

.btn-ellipsis::-moz-selection {
  background-color: lightgray;
  color: black;
}

.btn-ellipsis:hover,
.btn-ellipsis::selection {
  background-color: lightgray;
  color: black;
}

.btn-primary {
  background-color: #2B2A2A;
  color: white;
  padding: 0.6rem;
  min-width: 12rem;
  border: 0;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: lightgray;
}

.box-btn {
  background-color: white;
  box-shadow: 1px 1px 7px lightgray;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
}

.box-btn__close-btn {
  top: 0;
  right: 0;
  margin: 1rem 1rem 0 0;
  position: absolute;
  background-color: unset;
  border: none;
  font-size: 1.5rem;
  color: #2B2A2A;
}

.box-btn__close-btn:hover {
  color: lightgray;
}

.box-btn__content {
  padding: 3rem;
  text-align: center;
}

.box-btn__content h2 {
  font-size: 2rem;
}

.box-btn__btn {
  display: block;
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: #2B2A2A;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.box-btn__btn:hover {
  background-color: lightgray;
  cursor: pointer;
}

.box-btn__btn:hover span {
  color: black;
}

.box-btn__btn span {
  font-size: 2rem;
  color: white;
  font-weight: 100;
}

.panel {
  background-color: white;
  box-shadow: 1px 1px 7px lightgray;
  padding: 2rem 3rem;
  margin-bottom: 1rem;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;
}

.wrapper-full {
  padding: 0 2rem 0 6rem;
}

.wrapper-center {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: #2B2A2A;
  font-weight: 100;
}

.header__logo a {
  color: white;
  font-size: 1.5rem;
}

.header__user .dropdown-dark__toggle a {
  color: white;
}

.sidebar {
  background-color: white;
  position: absolute;
  min-height: 100vh;
  border-right: 2px solid lightgray;
  transition: 0.7s;
  width: 70px;
}

.sidebar a {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.sidebar a i {
  font-size: 2rem;
  width: 2.5rem;
  text-align: center;
  color: #2B2A2A;
}

.sidebar a strong {
  display: none;
  color: #2B2A2A;
}

.sidebar a:hover {
  background-color: #EDEDED;
}

.sidebar:hover {
  width: 200px;
}

.sidebar:hover strong {
  padding-left: 1rem;
  display: block;
}

/*
    Dropdown Dark
*/

.dropdown-dark {
  position: relative;
}

.dropdown-dark__toggle a {
  cursor: pointer;
}

.dropdown-dark__toggle a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-left: 0.3rem;
  content: "\F078";
}

.dropdown-dark__content {
  transform: scale(0);
  transition: 0.5s;
  position: absolute;
  background-color: #2B2A2A;
  padding: 1rem;
  box-shadow: 1px 1px 7px lightgray;
}

.dropdown-dark__content a {
  color: white;
}

.dropdown-dark:hover .dropdown-dark__content {
  transform: scale(1);
}

.dropdown-dark:hover .dropdown-dark__toggle a:after {
  content: "\F077";
}

/*
    Dropdown Light
*/

.dropdown-light {
  position: relative;
}

.dropdown-light__toggle a {
  cursor: pointer;
}

.dropdown-light__toggle a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-left: 0.3rem;
  content: "\F078";
}

.dropdown-light__content {
  transform: scale(0);
  transition: 0.5s;
  position: absolute;
  background-color: #2B2A2A;
  padding: 1rem;
  box-shadow: 1px 1px 7px lightgray;
}

.dropdown-light__content a {
  color: white;
}

.dropdown-light:hover .dropdown-light__content {
  transform: scale(1);
}

.dropdown-light:hover .dropdown-light__toggle a:after {
  content: "\F077";
}

/*
    Pages Index
*/

.pages-index .pages-index--no-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pages-index .pages-index--no-content__inner {
  text-align: center;
}

.pages-index .pages-index--no-content__inner h1 {
  font-size: 2.5rem;
}

.pages-index .box-btn {
  width: 50%;
  transform: scale(0);
}

.pages-index .enabled {
  transform: scale(1);
}

.pages-index__head {
  margin: 1rem 0;
}

.pages-index__create-page {
  position: absolute;
  top: 0%;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-index__page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

