@charset "UTF-8";

.header {
  display: flex;
  justify-content: space-between;
  background-color: #2B2A2A;
  padding: 1rem;
  color: white;
}

.header a {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.sidebar-static {
  padding: 1rem;
  background-color: #dedede;
  width: 20%;
  min-height: 100vh;
  border-right: 1px solid #b0b0b0;
}

.sidebar-static a {
  display: block;
  padding-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

.sidebar-static a:nth-last-child(1) {
  padding: 0;
}

.sidebar-static a i {
  margin-right: 0.5rem;
}

.sidebar-wrapper {
  display: flex;
}

.sidebar-wrapper__col2 {
  padding: 1rem;
  width: 80%;
}

.sidebar-dynamic {
  background-color: white;
  position: absolute;
  min-height: 100vh;
  box-shadow: 0px 1px 3px gray;
  transition: 0.2s;
  display: block;
}

.sidebar-dynamic a {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.sidebar-dynamic a:hover {
  background-color: lightgray;
}

.sidebar-dynamic i {
  font-size: 2rem;
  width: 2.5rem;
  text-align: center;
}

.sidebar-dynamic strong {
  display: none;
  padding-left: 1rem;
  font-size: 0.9rem;
}

.sidebar-dynamic:hover {
  width: 20%;
}

.sidebar-dynamic:hover strong {
  display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 0.5rem;
  color: gray;
  font-size: 0.8rem;
  font-style: italic;
}

.widget {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 4px #bfbfbf;
  margin-bottom: 2rem;
}

.widget-head {
  border-bottom: 1px solid #dedede;
  padding: 1rem;
  font-size: 1.2rem;
}

.widget-body {
  padding: 1rem;
}

.msg .error {
  display: block;
  padding: 0.5rem;
  background-color: red;
  color: white;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #2B2A2A;
  padding: 1rem;
  right: 0;
}

.dropdown--light:hover .dropdown--light__content {
  display: block;
}

.dropdown--light__content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 10%;
}

.dropdown--light__content a {
  display: block;
  border-bottom: 1px solid gray;
  padding: 1rem;
}

.dropdown--light__content a:nth-last-of-type(1) {
  border: none;
}

.dropdown--light__content a:hover {
  background-color: gray;
  color: white;
}

.pages-content__item {
  display: flex;
  justify-content: space-between;
  padding: 2rem !important;
}

.pages-content__item-row {
  width: 30%;
}

.pages-content__item-info {
  display: flex;
  justify-content: space-between;
  width: 99%;
}

.pages-content__item-dropdown {
  width: 1%;
  margin-left: 1rem;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth__content {
  background-color: white;
  padding: 1rem;
  box-shadow: 1px 1px 4px #bfbfbf;
  border-radius: 10px;
  width: 400px;
}

.auth__rememeber-me {
  display: flex;
}

.auth__rememeber-me label {
  margin-left: 0.5rem;
}

.auth button {
  width: 100%;
}

.auth h1 {
  text-align: center;
  margin-bottom: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Robot", sans-serif;
  color: black;
}

body {
  background-color: #ededed;
  font-size: 1rem;
}

h1 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

form input {
  width: 100%;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}

form select {
  width: 100%;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}

form textarea {
  width: 100%;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Robot", sans-serif;
}

form input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1rem;
  position: relative;
  padding: 8px;
  cursor: pointer;
  outline: none;
}

form input[type=checkbox]:checked::before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  content: "\F00C";
  font-weight: 900;
  color: #2B2A2A;
  padding: 3px;
  font-size: 0.7rem;
}

form .form-group {
  margin-bottom: 1rem;
}

form .form-group:nth-last-child(1) {
  margin: 0;
}

form .form-columns {
  display: flex;
}

form .form-columns .form-row {
  width: 50%;
}

form .form-columns .form-row:nth-child(1) {
  margin-right: 0.5rem;
}

form .form-columns .form-row:nth-last-child(1) {
  margin-left: 0.5rem;
}

table {
  width: 100%;
}

table tr th {
  padding: 0.5rem;
  background-color: #DEDEDE;
  text-align: left;
  border-top: 2px solid #B0B0B0;
  border-bottom: 2px solid #B0B0B0;
}

table tr td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #B0B0B0;
}

table .edit {
  background-color: #DEDEDE;
}

button {
  background-color: unset;
  border: unset;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.info-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-list li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #B0B0B0;
}

.info-list li:nth-last-child(1) {
  border: none;
}

.content-title {
  border-bottom: 1px solid #b0b0b0;
  margin-bottom: 1rem;
}

.wrapper {
  width: 1080px;
  margin: 0 auto;
}

.btn-primary {
  padding: 0.5rem;
  outline: unset;
  border: unset;
  background-color: #2B2A2A;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.btn-secondary {
  background-color: #B0B0B0;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  outline: unset;
  border: unset;
  display: inline-block;
}

.panel {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 1px gray;
}

