.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: $color1;
    font-weight: 100;
    
    &__logo a {
        color: $color3;
        font-size: 1.5rem;
    }

    &__user {

        .dropdown-dark__toggle a {
            color: $color3;
        }
    }
}