.header {
    display: flex;
    justify-content: space-between;
    background-color: #2B2A2A;
    padding: 1rem;
    color: white;

    a {
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
}