.dropdown {
    
    &:hover {
        .dropdown__content {
            display: block;
        }
    }

    &__content {
        display: none;
        position: absolute;
        background-color: #2B2A2A;
        padding: 1rem;
        right: 0;
    }
}

.dropdown--light {
    &:hover {
        .dropdown--light__content {
            display: block;
        }
    }

    &__content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 10%;

        a {
            display: block;
            border-bottom: 1px solid gray;
            padding: 1rem;

            &:nth-last-of-type(1) {
                border: none;
            }

            &:hover {
                background-color: gray;
                color: white;
            }
        }
    }
}